/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: KeyaviMainTableStyle;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	max-id: 3;
	margin-left: 1px;
	margin-right: 1px;
	margin-top: 1px;
	margin-bottom: 1px;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 2;
	background-color: #005511;
	cell-content-style-tag: p;
	cell-content-style-class: tableHeader;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Body1;
	id: 1;
	cell-content-style-tag: p;
	cell-padding-right: 5px;
	text-align: left;
	vertical-align: top;
	cell-padding-left: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
.TableStyle-KeyaviMainTableStyle
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	margin-left: 1px;
	margin-right: 1px;
	margin-top: 1px;
	margin-bottom: 1px;
	border-spacing: 0px 0px;
}

.TableStyle-KeyaviMainTableStyle-Column-Column1
{
	
}

.TableStyle-KeyaviMainTableStyle-Head-Header1
{
	
}

.TableStyle-KeyaviMainTableStyle-HeadI-Column1-Header1
{
	background-color: #005511;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-KeyaviMainTableStyle-HeadI-Column1-Header1 p
{
	
}

.TableStyle-KeyaviMainTableStyle-HeadE-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #005511;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-KeyaviMainTableStyle-HeadE-Column1-Header1 p
{
	
}

.TableStyle-KeyaviMainTableStyle-HeadF-Column1-Header1
{
	background-color: #005511;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-KeyaviMainTableStyle-HeadF-Column1-Header1 p
{
	
}

.TableStyle-KeyaviMainTableStyle-HeadH-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #005511;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-KeyaviMainTableStyle-HeadH-Column1-Header1 p
{
	
}

.TableStyle-KeyaviMainTableStyle-HeadD-Column1-Header1
{
	background-color: #005511;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-KeyaviMainTableStyle-HeadD-Column1-Header1 p
{
	
}

.TableStyle-KeyaviMainTableStyle-HeadC-Column1-Header1
{
	background-color: #005511;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-KeyaviMainTableStyle-HeadC-Column1-Header1 p
{
	
}

.TableStyle-KeyaviMainTableStyle-HeadB-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #005511;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-KeyaviMainTableStyle-HeadB-Column1-Header1 p
{
	
}

.TableStyle-KeyaviMainTableStyle-HeadA-Column1-Header1
{
	background-color: #005511;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-KeyaviMainTableStyle-HeadA-Column1-Header1 p
{
	
}

.TableStyle-KeyaviMainTableStyle-HeadG-Column1-Header1
{
	background-color: #005511;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-KeyaviMainTableStyle-HeadG-Column1-Header1 p
{
	
}

.TableStyle-KeyaviMainTableStyle-Foot-Footer1
{
	
}

.TableStyle-KeyaviMainTableStyle-FootI-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-KeyaviMainTableStyle-FootI-Column1-Footer1 p
{
	
}

.TableStyle-KeyaviMainTableStyle-FootE-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-KeyaviMainTableStyle-FootE-Column1-Footer1 p
{
	
}

.TableStyle-KeyaviMainTableStyle-FootF-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-KeyaviMainTableStyle-FootF-Column1-Footer1 p
{
	
}

.TableStyle-KeyaviMainTableStyle-FootH-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-KeyaviMainTableStyle-FootH-Column1-Footer1 p
{
	
}

.TableStyle-KeyaviMainTableStyle-FootD-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-KeyaviMainTableStyle-FootD-Column1-Footer1 p
{
	
}

.TableStyle-KeyaviMainTableStyle-FootC-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-KeyaviMainTableStyle-FootC-Column1-Footer1 p
{
	
}

.TableStyle-KeyaviMainTableStyle-FootB-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-KeyaviMainTableStyle-FootB-Column1-Footer1 p
{
	
}

.TableStyle-KeyaviMainTableStyle-FootA-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-KeyaviMainTableStyle-FootA-Column1-Footer1 p
{
	
}

.TableStyle-KeyaviMainTableStyle-FootG-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-KeyaviMainTableStyle-FootG-Column1-Footer1 p
{
	
}

.TableStyle-KeyaviMainTableStyle-Body-Body1
{
	
}

.TableStyle-KeyaviMainTableStyle-BodyI-Column1-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-KeyaviMainTableStyle-BodyI-Column1-Body1 p
{
	
}

.TableStyle-KeyaviMainTableStyle-BodyE-Column1-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-KeyaviMainTableStyle-BodyE-Column1-Body1 p
{
	
}

.TableStyle-KeyaviMainTableStyle-BodyF-Column1-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-KeyaviMainTableStyle-BodyF-Column1-Body1 p
{
	
}

.TableStyle-KeyaviMainTableStyle-BodyH-Column1-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-KeyaviMainTableStyle-BodyH-Column1-Body1 p
{
	
}

.TableStyle-KeyaviMainTableStyle-BodyD-Column1-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-KeyaviMainTableStyle-BodyD-Column1-Body1 p
{
	
}

.TableStyle-KeyaviMainTableStyle-BodyC-Column1-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-KeyaviMainTableStyle-BodyC-Column1-Body1 p
{
	
}

.TableStyle-KeyaviMainTableStyle-BodyB-Column1-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-KeyaviMainTableStyle-BodyB-Column1-Body1 p
{
	
}

.TableStyle-KeyaviMainTableStyle-BodyA-Column1-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-KeyaviMainTableStyle-BodyA-Column1-Body1 p
{
	
}

.TableStyle-KeyaviMainTableStyle-BodyG-Column1-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-KeyaviMainTableStyle-BodyG-Column1-Body1 p
{
	
}


