/*<meta />*/

/*===========================================================================================================================================================

Hello! If this is your first time looking at a stylesheet within the text editor view, what you are reading right now is a "comment". Comments are added throughout this stylesheet with the purpose of making the source code easier to understand, comments will not be interpreted during the compile process. Since comments are not interpreted during the compile process, feel free to add or remove any comments.

For help with MadCap Flare go to Help Ribbon > Topics Section > Open Help. Alternatively visit the Flare Online Help at help.madcapsoftware.com

If you have any questions regarding how to work with this stylesheet or template project, please contact MadCap Technical Support. 
https://www.madcapsoftware.com/support/contact-options.aspx

===========================================================================================================================================================*/

/*==Home Page General Styles==*/

body	/*Background gradient properties applied to Body*/
{
	font-family: Arial;
	line-height: 1.5em;
	background: #EEEEEE;
	/* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left top, #EEEEEE, ##E5F0FC);
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, #EEEEEE, ##E5F0FC);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, #EEEEEE, ##E5F0FC);
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, #EEEEEE, ##E5F0FC);
	/* Standard syntax */
	background-repeat: no-repeat;
	background-attachment: fixed;
}

@font-face 
{
	font-family: 'Keyavi';
	src: url("../Icons/Keyavi.ttf");
}

h1
{
	font-size: 2.75em;
}

h2
{
	font-size: 1.6785em;
	color: #fff;
}

p
{
	color: #5a5a5a;
	margin-bottom: 8px;
	margin-top: 8px;
}

.center
{
	position: relative;
	margin-right: auto;
	margin-left: auto;
	float: none !important;
	text-align: center;
}

.off-canvas-content .main-section > .outer-row
{
	max-width: 100%;
	padding: 0;
}

/*==Responsive Header Styles==*/

#contentBody > .responsive-header
{
	background-color: transparent;
}

div.search-container
{
	margin: 0 auto;
}

/*==Home Tiles section==*/

div.home-tiles	/*This layout was created using the Responsive Layout Editor in MadCap Flare. Go to: Home Ribbon > Styles Section > Responsive Layout*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1%;
	margin-bottom: 1%;
	position: relative;
}

div.home-tiles::before
{
	content: ' ';
	display: table;
}

div.home-tiles::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.home-tiles > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #fff;
	border: 1px solid #d3d3d3;
	padding: 30px 10px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	height: 200px;
	/*Changed from 300 to 200 with the move of the icon to the left of the content*/
	overflow: hidden;
	border-radius: 4px;
	padding-left: 16px;
	padding-right: 16px;
}

div.home-tiles > div:hover
{
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	transform: scale(1.05);
}

div.home-tiles > div:nth-child(1)
{
	width: 16.667%;
	margin-left: 25%;
}

div.home-tiles > div:nth-child(2)
{
	width: 16.667%;
	margin-left: 1%;
}

div.home-tiles > div:nth-child(3)
{
	width: 16.667%;
	margin-left: 1%;
}

div.home-tiles > div:nth-child(4)
{
	width: 16.667%;
	margin-left: 1%;
}

div.heading
{
	width: 75%;
	border-bottom: 1px solid #d3d3d3;
	margin: auto;
	padding-top: 1em;
}

p.borderheading
{
	text-align: center;
	font-family: Arial;
	font-size: 1.8em;
	color: #008800;
}

/*=Elements for text contained within each home-tile=*/

p.tile-title
{
	text-align: left;
	font-family: Arial;
	font-size: 1.4em;
	color: #008800;
}

p.tile-subtitle
{
	text-align: center;
	font-size: 0.9em;
	color: #7E8890;
}

p.tile-content
{
	color: #7E8890;
	font-size: 0.8em;
	text-align: left;
	line-height: 1.25em;
	margin-top: 0px;
}

ul.title-content
{
	color: #7E8890;
	font-size: 0.8em;
	text-align: left;
	margin-top: 0px;
}

li.tile-list	/* Links on cards */
{
	margin-top: 0px;
	margin-bottom: 0px;
	line-height: normal;
	/*font-size: 1em;
	text-align: left;
	line-height: 1.25em;
	color: #7E8890; */
}

a.card-link	/* Links on cards */
{
	font-size: 0.8em;
	text-align: left;
	line-height: 1.25em;
	color: #7E8890;
	text-decoration: underline;
}

div.icon	/*Moving the icon to the left instead of in the middle of the card*/
{
	flex-basis: 50px;
	margin-right: -10px;
}

img.home-icon
{
	width: 50px;
}

div.iconflex	/*Moving the icon to the left instead of in the middle of the card*/
{
	flex: 1;
	/*	width: 25%
	margin-right: -35px;
	padding-top: 5px; */
}

div.title	/*Moving the icon to the left instead of in the middle of the card*/
{
	flex: 1;
	text-align: left;
}

div.card-title	/*flex container for the icon and title */
{
	display: flex;
	flex-direction: row;
	justify-content: left;
	height: 3rem;
}

/*iv.home-tiles a	Complex Selector: Links within the home tiles will have the following properties
{
	text-decoration: none;
	color: #000;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}*/

div.title a	/*Complex Selector: Links within the home tiles will have the following properties*/
{
	text-decoration: none;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

div.home-tiles a:hover	/*Complex Selector: When hovering over links within the home tiles the following properties will apply.*/
{
	color: # #E5F0FC;
}

div.home-tiles > div:nth-child(4)
{
	width: 8.3333%;
	margin-left: 16.667%;
}

div.description
{
	width: 50%;
	margin: auto;
	padding-top: 1em;
}

/*nav.sidenav-wrapper
{
   display: none;
} */

/*===========================================================================================================================================================
Styles after this point are styles that are for specific mediums. If any additional styles are added to this template they will be listed after mediums.
[@media tablet] declares styles that will apply when the screen is in tablet view
[@media mobile] declares styles that will apply when the screen is in mobile view
===========================================================================================================================================================*/

@media only screen and (max-width: 1279px)
{
	div.home-tiles > div:nth-child(1)
	{
		width: 32%;
		margin-left: 1%;
	}

	div.home-tiles > div:nth-child(2)
	{
		width: 32%;
		margin-left: 1%;
	}

	div.home-tiles > div:nth-child(3)
	{
		width: 32%;
		margin-left: 1%;
	}

	p.tile-content
	{
		
	}

	p.tile-title
	{
		margin-bottom: 2rem;
		text-align: left;
	}

	div.home-tiles
	{
		
	}

	div.home-tiles > div:nth-child(4)
	{
		width: 8.3333%;
		margin-left: 0%;
	}
}

@media only screen and (max-width: 767px)
{
	p.tile-title
	{
		font-size: 1.2em;
	}

	div.home-tiles > div
	{
		margin-top: 2%;
	}

	div.home-tiles > div:nth-child(1)
	{
		width: 90%;
		margin-left: 5%;
	}

	div.home-tiles > div:nth-child(2)
	{
		width: 90%;
		margin-left: 5%;
	}

	div.home-tiles > div:nth-child(3)
	{
		width: 90%;
		margin-left: 5%;
	}

	div.home-tiles > div:nth-child(4)
	{
		width: 8.3333%;
		margin-left: 0%;
	}
}

