/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: table-5-col;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	max-id: 8;
	margin-left: 1px;
	margin-right: 1px;
	margin-top: 1px;
	margin-bottom: 1px;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
	size: 30%;
}

mcTableColumnStyle
{
	span: 1;
	id: 4;
	name: Column2;
	size: 25%;
	separator-style: solid;
	separator-width: 1px;
}

mcTableColumnStyle
{
	span: 1;
	id: 5;
	name: Column3;
	size: 25%;
	separator-style: solid;
	separator-width: 1px;
}

mcTableColumnStyle
{
	span: 1;
	id: 6;
	name: Column4;
	size: 10%;
	separator-style: solid;
	separator-width: 1px;
}

mcTableColumnStyle
{
	span: 1;
	id: 7;
	name: Column5;
	size: 10%;
	separator-style: solid;
	separator-width: 1px;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 2;
	background-color: #005511;
	cell-content-style-tag: p;
	cell-content-style-class: tableHeader;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Body1;
	id: 1;
	cell-content-style-tag: p;
	cell-padding-right: 5px;
	text-align: left;
	vertical-align: top;
	cell-padding-left: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
.TableStyle-table-5-col
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	margin-left: 1px;
	margin-right: 1px;
	margin-top: 1px;
	margin-bottom: 1px;
	border-spacing: 0px 0px;
}

.TableStyle-table-5-col-Column-Column1
{
	width: 30%;
}

.TableStyle-table-5-col-Column-Column2
{
	width: 25%;
}

.TableStyle-table-5-col-Column-Column3
{
	width: 25%;
}

.TableStyle-table-5-col-Column-Column4
{
	width: 10%;
}

.TableStyle-table-5-col-Column-Column5
{
	width: 10%;
}

.TableStyle-table-5-col-Head-Header1
{
	
}

.TableStyle-table-5-col-HeadI-Column1-Header1
{
	background-color: #005511;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-table-5-col-HeadI-Column1-Header1 p
{
	
}

.TableStyle-table-5-col-HeadE-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #005511;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-table-5-col-HeadE-Column1-Header1 p
{
	
}

.TableStyle-table-5-col-HeadF-Column1-Header1
{
	background-color: #005511;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-table-5-col-HeadF-Column1-Header1 p
{
	
}

.TableStyle-table-5-col-HeadH-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #005511;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-table-5-col-HeadH-Column1-Header1 p
{
	
}

.TableStyle-table-5-col-HeadD-Column1-Header1
{
	background-color: #005511;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-table-5-col-HeadD-Column1-Header1 p
{
	
}

.TableStyle-table-5-col-HeadC-Column1-Header1
{
	background-color: #005511;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-table-5-col-HeadC-Column1-Header1 p
{
	
}

.TableStyle-table-5-col-HeadB-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #005511;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-table-5-col-HeadB-Column1-Header1 p
{
	
}

.TableStyle-table-5-col-HeadA-Column1-Header1
{
	background-color: #005511;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-table-5-col-HeadA-Column1-Header1 p
{
	
}

.TableStyle-table-5-col-HeadG-Column1-Header1
{
	background-color: #005511;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-table-5-col-HeadG-Column1-Header1 p
{
	
}

.TableStyle-table-5-col-HeadI-Column2-Header1
{
	background-color: #005511;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-table-5-col-HeadI-Column2-Header1 p
{
	
}

.TableStyle-table-5-col-HeadE-Column2-Header1
{
	border-right-width: 1px;
	border-right-style: solid;
	background-color: #005511;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-table-5-col-HeadE-Column2-Header1 p
{
	
}

.TableStyle-table-5-col-HeadF-Column2-Header1
{
	background-color: #005511;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-table-5-col-HeadF-Column2-Header1 p
{
	
}

.TableStyle-table-5-col-HeadH-Column2-Header1
{
	border-right-width: 1px;
	border-right-style: solid;
	background-color: #005511;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-table-5-col-HeadH-Column2-Header1 p
{
	
}

.TableStyle-table-5-col-HeadD-Column2-Header1
{
	background-color: #005511;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-table-5-col-HeadD-Column2-Header1 p
{
	
}

.TableStyle-table-5-col-HeadC-Column2-Header1
{
	background-color: #005511;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-table-5-col-HeadC-Column2-Header1 p
{
	
}

.TableStyle-table-5-col-HeadB-Column2-Header1
{
	border-right-width: 1px;
	border-right-style: solid;
	background-color: #005511;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-table-5-col-HeadB-Column2-Header1 p
{
	
}

.TableStyle-table-5-col-HeadA-Column2-Header1
{
	background-color: #005511;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-table-5-col-HeadA-Column2-Header1 p
{
	
}

.TableStyle-table-5-col-HeadG-Column2-Header1
{
	background-color: #005511;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-table-5-col-HeadG-Column2-Header1 p
{
	
}

.TableStyle-table-5-col-HeadI-Column3-Header1
{
	background-color: #005511;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-table-5-col-HeadI-Column3-Header1 p
{
	
}

.TableStyle-table-5-col-HeadE-Column3-Header1
{
	border-right-width: 1px;
	border-right-style: solid;
	background-color: #005511;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-table-5-col-HeadE-Column3-Header1 p
{
	
}

.TableStyle-table-5-col-HeadF-Column3-Header1
{
	background-color: #005511;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-table-5-col-HeadF-Column3-Header1 p
{
	
}

.TableStyle-table-5-col-HeadH-Column3-Header1
{
	border-right-width: 1px;
	border-right-style: solid;
	background-color: #005511;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-table-5-col-HeadH-Column3-Header1 p
{
	
}

.TableStyle-table-5-col-HeadD-Column3-Header1
{
	background-color: #005511;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-table-5-col-HeadD-Column3-Header1 p
{
	
}

.TableStyle-table-5-col-HeadC-Column3-Header1
{
	background-color: #005511;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-table-5-col-HeadC-Column3-Header1 p
{
	
}

.TableStyle-table-5-col-HeadB-Column3-Header1
{
	border-right-width: 1px;
	border-right-style: solid;
	background-color: #005511;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-table-5-col-HeadB-Column3-Header1 p
{
	
}

.TableStyle-table-5-col-HeadA-Column3-Header1
{
	background-color: #005511;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-table-5-col-HeadA-Column3-Header1 p
{
	
}

.TableStyle-table-5-col-HeadG-Column3-Header1
{
	background-color: #005511;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-table-5-col-HeadG-Column3-Header1 p
{
	
}

.TableStyle-table-5-col-HeadI-Column4-Header1
{
	background-color: #005511;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-table-5-col-HeadI-Column4-Header1 p
{
	
}

.TableStyle-table-5-col-HeadE-Column4-Header1
{
	border-right-width: 1px;
	border-right-style: solid;
	background-color: #005511;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-table-5-col-HeadE-Column4-Header1 p
{
	
}

.TableStyle-table-5-col-HeadF-Column4-Header1
{
	background-color: #005511;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-table-5-col-HeadF-Column4-Header1 p
{
	
}

.TableStyle-table-5-col-HeadH-Column4-Header1
{
	border-right-width: 1px;
	border-right-style: solid;
	background-color: #005511;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-table-5-col-HeadH-Column4-Header1 p
{
	
}

.TableStyle-table-5-col-HeadD-Column4-Header1
{
	background-color: #005511;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-table-5-col-HeadD-Column4-Header1 p
{
	
}

.TableStyle-table-5-col-HeadC-Column4-Header1
{
	background-color: #005511;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-table-5-col-HeadC-Column4-Header1 p
{
	
}

.TableStyle-table-5-col-HeadB-Column4-Header1
{
	border-right-width: 1px;
	border-right-style: solid;
	background-color: #005511;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-table-5-col-HeadB-Column4-Header1 p
{
	
}

.TableStyle-table-5-col-HeadA-Column4-Header1
{
	background-color: #005511;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-table-5-col-HeadA-Column4-Header1 p
{
	
}

.TableStyle-table-5-col-HeadG-Column4-Header1
{
	background-color: #005511;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-table-5-col-HeadG-Column4-Header1 p
{
	
}

.TableStyle-table-5-col-HeadI-Column5-Header1
{
	background-color: #005511;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-table-5-col-HeadI-Column5-Header1 p
{
	
}

.TableStyle-table-5-col-HeadE-Column5-Header1
{
	border-right-width: 1px;
	border-right-style: solid;
	background-color: #005511;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-table-5-col-HeadE-Column5-Header1 p
{
	
}

.TableStyle-table-5-col-HeadF-Column5-Header1
{
	background-color: #005511;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-table-5-col-HeadF-Column5-Header1 p
{
	
}

.TableStyle-table-5-col-HeadH-Column5-Header1
{
	border-right-width: 1px;
	border-right-style: solid;
	background-color: #005511;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-table-5-col-HeadH-Column5-Header1 p
{
	
}

.TableStyle-table-5-col-HeadD-Column5-Header1
{
	background-color: #005511;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-table-5-col-HeadD-Column5-Header1 p
{
	
}

.TableStyle-table-5-col-HeadC-Column5-Header1
{
	background-color: #005511;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-table-5-col-HeadC-Column5-Header1 p
{
	
}

.TableStyle-table-5-col-HeadB-Column5-Header1
{
	border-right-width: 1px;
	border-right-style: solid;
	background-color: #005511;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-table-5-col-HeadB-Column5-Header1 p
{
	
}

.TableStyle-table-5-col-HeadA-Column5-Header1
{
	background-color: #005511;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-table-5-col-HeadA-Column5-Header1 p
{
	
}

.TableStyle-table-5-col-HeadG-Column5-Header1
{
	background-color: #005511;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-table-5-col-HeadG-Column5-Header1 p
{
	
}

.TableStyle-table-5-col-Foot-Footer1
{
	
}

.TableStyle-table-5-col-FootI-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-table-5-col-FootI-Column1-Footer1 p
{
	
}

.TableStyle-table-5-col-FootE-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-table-5-col-FootE-Column1-Footer1 p
{
	
}

.TableStyle-table-5-col-FootF-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-table-5-col-FootF-Column1-Footer1 p
{
	
}

.TableStyle-table-5-col-FootH-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-table-5-col-FootH-Column1-Footer1 p
{
	
}

.TableStyle-table-5-col-FootD-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-table-5-col-FootD-Column1-Footer1 p
{
	
}

.TableStyle-table-5-col-FootC-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-table-5-col-FootC-Column1-Footer1 p
{
	
}

.TableStyle-table-5-col-FootB-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-table-5-col-FootB-Column1-Footer1 p
{
	
}

.TableStyle-table-5-col-FootA-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-table-5-col-FootA-Column1-Footer1 p
{
	
}

.TableStyle-table-5-col-FootG-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-table-5-col-FootG-Column1-Footer1 p
{
	
}

.TableStyle-table-5-col-FootI-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-table-5-col-FootI-Column2-Footer1 p
{
	
}

.TableStyle-table-5-col-FootE-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-table-5-col-FootE-Column2-Footer1 p
{
	
}

.TableStyle-table-5-col-FootF-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-table-5-col-FootF-Column2-Footer1 p
{
	
}

.TableStyle-table-5-col-FootH-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-table-5-col-FootH-Column2-Footer1 p
{
	
}

.TableStyle-table-5-col-FootD-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-table-5-col-FootD-Column2-Footer1 p
{
	
}

.TableStyle-table-5-col-FootC-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-table-5-col-FootC-Column2-Footer1 p
{
	
}

.TableStyle-table-5-col-FootB-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-table-5-col-FootB-Column2-Footer1 p
{
	
}

.TableStyle-table-5-col-FootA-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-table-5-col-FootA-Column2-Footer1 p
{
	
}

.TableStyle-table-5-col-FootG-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-table-5-col-FootG-Column2-Footer1 p
{
	
}

.TableStyle-table-5-col-FootI-Column3-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-table-5-col-FootI-Column3-Footer1 p
{
	
}

.TableStyle-table-5-col-FootE-Column3-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-table-5-col-FootE-Column3-Footer1 p
{
	
}

.TableStyle-table-5-col-FootF-Column3-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-table-5-col-FootF-Column3-Footer1 p
{
	
}

.TableStyle-table-5-col-FootH-Column3-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-table-5-col-FootH-Column3-Footer1 p
{
	
}

.TableStyle-table-5-col-FootD-Column3-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-table-5-col-FootD-Column3-Footer1 p
{
	
}

.TableStyle-table-5-col-FootC-Column3-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-table-5-col-FootC-Column3-Footer1 p
{
	
}

.TableStyle-table-5-col-FootB-Column3-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-table-5-col-FootB-Column3-Footer1 p
{
	
}

.TableStyle-table-5-col-FootA-Column3-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-table-5-col-FootA-Column3-Footer1 p
{
	
}

.TableStyle-table-5-col-FootG-Column3-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-table-5-col-FootG-Column3-Footer1 p
{
	
}

.TableStyle-table-5-col-FootI-Column4-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-table-5-col-FootI-Column4-Footer1 p
{
	
}

.TableStyle-table-5-col-FootE-Column4-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-table-5-col-FootE-Column4-Footer1 p
{
	
}

.TableStyle-table-5-col-FootF-Column4-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-table-5-col-FootF-Column4-Footer1 p
{
	
}

.TableStyle-table-5-col-FootH-Column4-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-table-5-col-FootH-Column4-Footer1 p
{
	
}

.TableStyle-table-5-col-FootD-Column4-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-table-5-col-FootD-Column4-Footer1 p
{
	
}

.TableStyle-table-5-col-FootC-Column4-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-table-5-col-FootC-Column4-Footer1 p
{
	
}

.TableStyle-table-5-col-FootB-Column4-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-table-5-col-FootB-Column4-Footer1 p
{
	
}

.TableStyle-table-5-col-FootA-Column4-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-table-5-col-FootA-Column4-Footer1 p
{
	
}

.TableStyle-table-5-col-FootG-Column4-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-table-5-col-FootG-Column4-Footer1 p
{
	
}

.TableStyle-table-5-col-FootI-Column5-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-table-5-col-FootI-Column5-Footer1 p
{
	
}

.TableStyle-table-5-col-FootE-Column5-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-table-5-col-FootE-Column5-Footer1 p
{
	
}

.TableStyle-table-5-col-FootF-Column5-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-table-5-col-FootF-Column5-Footer1 p
{
	
}

.TableStyle-table-5-col-FootH-Column5-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-table-5-col-FootH-Column5-Footer1 p
{
	
}

.TableStyle-table-5-col-FootD-Column5-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-table-5-col-FootD-Column5-Footer1 p
{
	
}

.TableStyle-table-5-col-FootC-Column5-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-table-5-col-FootC-Column5-Footer1 p
{
	
}

.TableStyle-table-5-col-FootB-Column5-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-table-5-col-FootB-Column5-Footer1 p
{
	
}

.TableStyle-table-5-col-FootA-Column5-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-table-5-col-FootA-Column5-Footer1 p
{
	
}

.TableStyle-table-5-col-FootG-Column5-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-table-5-col-FootG-Column5-Footer1 p
{
	
}

.TableStyle-table-5-col-Body-Body1
{
	
}

.TableStyle-table-5-col-BodyI-Column1-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-table-5-col-BodyI-Column1-Body1 p
{
	
}

.TableStyle-table-5-col-BodyE-Column1-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-table-5-col-BodyE-Column1-Body1 p
{
	
}

.TableStyle-table-5-col-BodyF-Column1-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-table-5-col-BodyF-Column1-Body1 p
{
	
}

.TableStyle-table-5-col-BodyH-Column1-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-table-5-col-BodyH-Column1-Body1 p
{
	
}

.TableStyle-table-5-col-BodyD-Column1-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-table-5-col-BodyD-Column1-Body1 p
{
	
}

.TableStyle-table-5-col-BodyC-Column1-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-table-5-col-BodyC-Column1-Body1 p
{
	
}

.TableStyle-table-5-col-BodyB-Column1-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-table-5-col-BodyB-Column1-Body1 p
{
	
}

.TableStyle-table-5-col-BodyA-Column1-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-table-5-col-BodyA-Column1-Body1 p
{
	
}

.TableStyle-table-5-col-BodyG-Column1-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-table-5-col-BodyG-Column1-Body1 p
{
	
}

.TableStyle-table-5-col-BodyI-Column2-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-table-5-col-BodyI-Column2-Body1 p
{
	
}

.TableStyle-table-5-col-BodyE-Column2-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-table-5-col-BodyE-Column2-Body1 p
{
	
}

.TableStyle-table-5-col-BodyF-Column2-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-table-5-col-BodyF-Column2-Body1 p
{
	
}

.TableStyle-table-5-col-BodyH-Column2-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-table-5-col-BodyH-Column2-Body1 p
{
	
}

.TableStyle-table-5-col-BodyD-Column2-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-table-5-col-BodyD-Column2-Body1 p
{
	
}

.TableStyle-table-5-col-BodyC-Column2-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-table-5-col-BodyC-Column2-Body1 p
{
	
}

.TableStyle-table-5-col-BodyB-Column2-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-table-5-col-BodyB-Column2-Body1 p
{
	
}

.TableStyle-table-5-col-BodyA-Column2-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-table-5-col-BodyA-Column2-Body1 p
{
	
}

.TableStyle-table-5-col-BodyG-Column2-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-table-5-col-BodyG-Column2-Body1 p
{
	
}

.TableStyle-table-5-col-BodyI-Column3-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-table-5-col-BodyI-Column3-Body1 p
{
	
}

.TableStyle-table-5-col-BodyE-Column3-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-table-5-col-BodyE-Column3-Body1 p
{
	
}

.TableStyle-table-5-col-BodyF-Column3-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-table-5-col-BodyF-Column3-Body1 p
{
	
}

.TableStyle-table-5-col-BodyH-Column3-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-table-5-col-BodyH-Column3-Body1 p
{
	
}

.TableStyle-table-5-col-BodyD-Column3-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-table-5-col-BodyD-Column3-Body1 p
{
	
}

.TableStyle-table-5-col-BodyC-Column3-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-table-5-col-BodyC-Column3-Body1 p
{
	
}

.TableStyle-table-5-col-BodyB-Column3-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-table-5-col-BodyB-Column3-Body1 p
{
	
}

.TableStyle-table-5-col-BodyA-Column3-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-table-5-col-BodyA-Column3-Body1 p
{
	
}

.TableStyle-table-5-col-BodyG-Column3-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-table-5-col-BodyG-Column3-Body1 p
{
	
}

.TableStyle-table-5-col-BodyI-Column4-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-table-5-col-BodyI-Column4-Body1 p
{
	
}

.TableStyle-table-5-col-BodyE-Column4-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-table-5-col-BodyE-Column4-Body1 p
{
	
}

.TableStyle-table-5-col-BodyF-Column4-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-table-5-col-BodyF-Column4-Body1 p
{
	
}

.TableStyle-table-5-col-BodyH-Column4-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-table-5-col-BodyH-Column4-Body1 p
{
	
}

.TableStyle-table-5-col-BodyD-Column4-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-table-5-col-BodyD-Column4-Body1 p
{
	
}

.TableStyle-table-5-col-BodyC-Column4-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-table-5-col-BodyC-Column4-Body1 p
{
	
}

.TableStyle-table-5-col-BodyB-Column4-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-table-5-col-BodyB-Column4-Body1 p
{
	
}

.TableStyle-table-5-col-BodyA-Column4-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-table-5-col-BodyA-Column4-Body1 p
{
	
}

.TableStyle-table-5-col-BodyG-Column4-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-table-5-col-BodyG-Column4-Body1 p
{
	
}

.TableStyle-table-5-col-BodyI-Column5-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-table-5-col-BodyI-Column5-Body1 p
{
	
}

.TableStyle-table-5-col-BodyE-Column5-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-table-5-col-BodyE-Column5-Body1 p
{
	
}

.TableStyle-table-5-col-BodyF-Column5-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-table-5-col-BodyF-Column5-Body1 p
{
	
}

.TableStyle-table-5-col-BodyH-Column5-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-table-5-col-BodyH-Column5-Body1 p
{
	
}

.TableStyle-table-5-col-BodyD-Column5-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-table-5-col-BodyD-Column5-Body1 p
{
	
}

.TableStyle-table-5-col-BodyC-Column5-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-table-5-col-BodyC-Column5-Body1 p
{
	
}

.TableStyle-table-5-col-BodyB-Column5-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-table-5-col-BodyB-Column5-Body1 p
{
	
}

.TableStyle-table-5-col-BodyA-Column5-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-table-5-col-BodyA-Column5-Body1 p
{
	
}

.TableStyle-table-5-col-BodyG-Column5-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-table-5-col-BodyG-Column5-Body1 p
{
	
}


