/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: api-ref;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	max-id: 4;
	margin-left: 1px;
	margin-right: 1px;
	margin-top: 1px;
	margin-bottom: 1px;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
	size: 20%;
}

mcTableColumnStyle
{
	span: 1;
	id: 4;
	name: Column2;
	size: 80%;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 2;
	background-color: #005511;
	cell-content-style-tag: p;
	cell-content-style-class: tableHeader;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Body1;
	id: 1;
	cell-content-style-tag: p;
	cell-padding-right: 5px;
	text-align: left;
	vertical-align: top;
	cell-padding-left: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
.TableStyle-api-ref
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	margin-left: 1px;
	margin-right: 1px;
	margin-top: 1px;
	margin-bottom: 1px;
	border-spacing: 0px 0px;
}

.TableStyle-api-ref-Column-Column1
{
	width: 20%;
}

.TableStyle-api-ref-Column-Column2
{
	width: 80%;
}

.TableStyle-api-ref-Head-Header1
{
	
}

.TableStyle-api-ref-HeadI-Column1-Header1
{
	background-color: #005511;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-api-ref-HeadI-Column1-Header1 p
{
	
}

.TableStyle-api-ref-HeadE-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #005511;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-api-ref-HeadE-Column1-Header1 p
{
	
}

.TableStyle-api-ref-HeadF-Column1-Header1
{
	background-color: #005511;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-api-ref-HeadF-Column1-Header1 p
{
	
}

.TableStyle-api-ref-HeadH-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #005511;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-api-ref-HeadH-Column1-Header1 p
{
	
}

.TableStyle-api-ref-HeadD-Column1-Header1
{
	background-color: #005511;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-api-ref-HeadD-Column1-Header1 p
{
	
}

.TableStyle-api-ref-HeadC-Column1-Header1
{
	background-color: #005511;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-api-ref-HeadC-Column1-Header1 p
{
	
}

.TableStyle-api-ref-HeadB-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #005511;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-api-ref-HeadB-Column1-Header1 p
{
	
}

.TableStyle-api-ref-HeadA-Column1-Header1
{
	background-color: #005511;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-api-ref-HeadA-Column1-Header1 p
{
	
}

.TableStyle-api-ref-HeadG-Column1-Header1
{
	background-color: #005511;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-api-ref-HeadG-Column1-Header1 p
{
	
}

.TableStyle-api-ref-HeadI-Column2-Header1
{
	background-color: #005511;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-api-ref-HeadI-Column2-Header1 p
{
	
}

.TableStyle-api-ref-HeadE-Column2-Header1
{
	background-color: #005511;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-api-ref-HeadE-Column2-Header1 p
{
	
}

.TableStyle-api-ref-HeadF-Column2-Header1
{
	background-color: #005511;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-api-ref-HeadF-Column2-Header1 p
{
	
}

.TableStyle-api-ref-HeadH-Column2-Header1
{
	background-color: #005511;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-api-ref-HeadH-Column2-Header1 p
{
	
}

.TableStyle-api-ref-HeadD-Column2-Header1
{
	background-color: #005511;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-api-ref-HeadD-Column2-Header1 p
{
	
}

.TableStyle-api-ref-HeadC-Column2-Header1
{
	background-color: #005511;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-api-ref-HeadC-Column2-Header1 p
{
	
}

.TableStyle-api-ref-HeadB-Column2-Header1
{
	background-color: #005511;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-api-ref-HeadB-Column2-Header1 p
{
	
}

.TableStyle-api-ref-HeadA-Column2-Header1
{
	background-color: #005511;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-api-ref-HeadA-Column2-Header1 p
{
	
}

.TableStyle-api-ref-HeadG-Column2-Header1
{
	background-color: #005511;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-api-ref-HeadG-Column2-Header1 p
{
	
}

.TableStyle-api-ref-Foot-Footer1
{
	
}

.TableStyle-api-ref-FootI-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-api-ref-FootI-Column1-Footer1 p
{
	
}

.TableStyle-api-ref-FootE-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-api-ref-FootE-Column1-Footer1 p
{
	
}

.TableStyle-api-ref-FootF-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-api-ref-FootF-Column1-Footer1 p
{
	
}

.TableStyle-api-ref-FootH-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-api-ref-FootH-Column1-Footer1 p
{
	
}

.TableStyle-api-ref-FootD-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-api-ref-FootD-Column1-Footer1 p
{
	
}

.TableStyle-api-ref-FootC-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-api-ref-FootC-Column1-Footer1 p
{
	
}

.TableStyle-api-ref-FootB-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-api-ref-FootB-Column1-Footer1 p
{
	
}

.TableStyle-api-ref-FootA-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-api-ref-FootA-Column1-Footer1 p
{
	
}

.TableStyle-api-ref-FootG-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-api-ref-FootG-Column1-Footer1 p
{
	
}

.TableStyle-api-ref-FootI-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-api-ref-FootI-Column2-Footer1 p
{
	
}

.TableStyle-api-ref-FootE-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-api-ref-FootE-Column2-Footer1 p
{
	
}

.TableStyle-api-ref-FootF-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-api-ref-FootF-Column2-Footer1 p
{
	
}

.TableStyle-api-ref-FootH-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-api-ref-FootH-Column2-Footer1 p
{
	
}

.TableStyle-api-ref-FootD-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-api-ref-FootD-Column2-Footer1 p
{
	
}

.TableStyle-api-ref-FootC-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-api-ref-FootC-Column2-Footer1 p
{
	
}

.TableStyle-api-ref-FootB-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-api-ref-FootB-Column2-Footer1 p
{
	
}

.TableStyle-api-ref-FootA-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-api-ref-FootA-Column2-Footer1 p
{
	
}

.TableStyle-api-ref-FootG-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-api-ref-FootG-Column2-Footer1 p
{
	
}

.TableStyle-api-ref-Body-Body1
{
	
}

.TableStyle-api-ref-BodyI-Column1-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-api-ref-BodyI-Column1-Body1 p
{
	
}

.TableStyle-api-ref-BodyE-Column1-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-api-ref-BodyE-Column1-Body1 p
{
	
}

.TableStyle-api-ref-BodyF-Column1-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-api-ref-BodyF-Column1-Body1 p
{
	
}

.TableStyle-api-ref-BodyH-Column1-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-api-ref-BodyH-Column1-Body1 p
{
	
}

.TableStyle-api-ref-BodyD-Column1-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-api-ref-BodyD-Column1-Body1 p
{
	
}

.TableStyle-api-ref-BodyC-Column1-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-api-ref-BodyC-Column1-Body1 p
{
	
}

.TableStyle-api-ref-BodyB-Column1-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-api-ref-BodyB-Column1-Body1 p
{
	
}

.TableStyle-api-ref-BodyA-Column1-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-api-ref-BodyA-Column1-Body1 p
{
	
}

.TableStyle-api-ref-BodyG-Column1-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-api-ref-BodyG-Column1-Body1 p
{
	
}

.TableStyle-api-ref-BodyI-Column2-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-api-ref-BodyI-Column2-Body1 p
{
	
}

.TableStyle-api-ref-BodyE-Column2-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-api-ref-BodyE-Column2-Body1 p
{
	
}

.TableStyle-api-ref-BodyF-Column2-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-api-ref-BodyF-Column2-Body1 p
{
	
}

.TableStyle-api-ref-BodyH-Column2-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-api-ref-BodyH-Column2-Body1 p
{
	
}

.TableStyle-api-ref-BodyD-Column2-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-api-ref-BodyD-Column2-Body1 p
{
	
}

.TableStyle-api-ref-BodyC-Column2-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-api-ref-BodyC-Column2-Body1 p
{
	
}

.TableStyle-api-ref-BodyB-Column2-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-api-ref-BodyB-Column2-Body1 p
{
	
}

.TableStyle-api-ref-BodyA-Column2-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-api-ref-BodyA-Column2-Body1 p
{
	
}

.TableStyle-api-ref-BodyG-Column2-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-api-ref-BodyG-Column2-Body1 p
{
	
}


